body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:59px;
  width:325px;
  height:65px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
  line-height:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u2 {
  position:absolute;
  left:10px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:65px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u5 {
  position:absolute;
  left:10px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:140px;
  width:325px;
  height:55px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:253px;
  top:420px;
  width:27px;
  height:16px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:66px;
  top:544px;
  width:17px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:20px;
  top:221px;
  width:300px;
  height:157px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:157px;
}
#u14 {
  position:absolute;
  left:10px;
  top:15px;
  width:280px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:263px;
  width:280px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u16 {
  position:absolute;
  left:6px;
  top:583px;
  width:300px;
  height:244px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:244px;
}
#u17 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u3.a {
}
#u6.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
  left:10px;
  top:213px;
}
#u13_img.a {
}
#u14.a {
}
#u15.a {
  left:20px;
  top:255px;
}
#u15_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end.a {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u16.a {
  left:10px;
  top:380px;
}
#u16_img.a {
}
#u17.a {
}
