body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:320px;
}
#u1 {
  position:absolute;
  left:10px;
  top:152px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:319px;
  width:320px;
  height:126px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:126px;
}
#u3 {
  position:absolute;
  left:10px;
  top:55px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:500px;
  width:320px;
  height:289px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:164px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  line-height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:164px;
}
#u6 {
  position:absolute;
  left:10px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:164px;
  width:315px;
  height:120px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#666666;
  line-height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:120px;
}
#u8 {
  position:absolute;
  left:10px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:445px;
  width:320px;
  height:50px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:45px;
}
#u11 {
  position:absolute;
  left:10px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:159px;
  top:0px;
  width:156px;
  height:45px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:45px;
}
#u13 {
  position:absolute;
  left:10px;
  top:16px;
  width:136px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:118px;
  top:280px;
  width:80px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u15 {
  position:absolute;
  left:10px;
  top:32px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:137px;
  top:296px;
  width:46px;
  height:49px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:49px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:46px;
  top:351px;
  width:223px;
  height:40px;
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
  text-align:center;
  line-height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:40px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:88px;
  top:409px;
  width:140px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u21 {
  position:absolute;
  left:117px;
  top:408px;
  width:81px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:12px;
}
#u22 {
  position:absolute;
  left:10px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:825px;
  width:320px;
  height:376px;
}
#u24_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:326px;
  height:382px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:381px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u27 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:36px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u29 {
  position:absolute;
  left:10px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:76px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u31 {
  position:absolute;
  left:10px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:116px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u33 {
  position:absolute;
  left:10px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:156px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u35 {
  position:absolute;
  left:10px;
  top:14px;
  width:300px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:196px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u37 {
  position:absolute;
  left:10px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:236px;
  width:320px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u39 {
  position:absolute;
  left:10px;
  top:13px;
  width:300px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:276px;
  width:320px;
  height:100px;
  font-size:12px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
}
#u41 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u42 {
  position:fixed;
  left:50%;
  margin-left:-160px;
  bottom:0px;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
}
#u44 {
  position:absolute;
  left:10px;
  top:27px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u46 {
  position:absolute;
  left:10px;
  top:17px;
  width:280px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u9.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u20_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end.a {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  height:1px;
}
#u21.a {
}
#u23.a {
  position:absolute;
  left:0px;
  top:825px;
  width:320px;
  height:376px;
}
#u24.a {
}
#u42.a {
  position:fixed;
  left:50%;
  margin-left:-160px;
  bottom:0px;
  width:320px;
  height:70px;
}
#u43.a {
}
#u45.a {
}
