body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:140px;
  width:325px;
  height:235px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  font-size:12px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u2 {
  position:absolute;
  left:10px;
  top:19px;
  width:60px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:80px;
  top:0px;
  width:240px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u4 {
  position:absolute;
  left:10px;
  top:19px;
  width:220px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:50px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u6 {
  position:absolute;
  left:10px;
  top:34px;
  width:60px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:80px;
  top:50px;
  width:240px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u8 {
  position:absolute;
  left:10px;
  top:20px;
  width:220px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:130px;
  width:80px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u10 {
  position:absolute;
  left:10px;
  top:19px;
  width:60px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:80px;
  top:130px;
  width:240px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u12 {
  position:absolute;
  left:10px;
  top:15px;
  width:220px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:180px;
  width:80px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u14 {
  position:absolute;
  left:10px;
  top:19px;
  width:60px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:80px;
  top:180px;
  width:240px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u16 {
  position:absolute;
  left:10px;
  top:15px;
  width:220px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:20px;
  width:325px;
  height:105px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u19 {
  position:absolute;
  left:10px;
  top:19px;
  width:60px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:0px;
  width:240px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u21 {
  position:absolute;
  left:10px;
  top:19px;
  width:220px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:50px;
  width:80px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u23 {
  position:absolute;
  left:10px;
  top:19px;
  width:60px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:80px;
  top:50px;
  width:240px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u25 {
  position:absolute;
  left:10px;
  top:19px;
  width:220px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:390px;
  width:325px;
  height:85px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u28 {
  position:absolute;
  left:10px;
  top:34px;
  width:60px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:80px;
  top:0px;
  width:240px;
  height:80px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  line-height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u30 {
  position:absolute;
  left:10px;
  top:12px;
  width:220px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:56px;
  top:532px;
  width:154px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  visibility:hidden;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:66px;
  top:863px;
  width:17px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:-17px;
  top:999px;
  width:300px;
  height:181px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:181px;
}
#u36 {
  position:absolute;
  left:10px;
  top:15px;
  width:280px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:-7px;
  top:1041px;
  width:280px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u38 {
  position:absolute;
  left:-4px;
  top:573px;
  width:300px;
  height:244px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:244px;
}
#u39 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u17.a {
}
#u26.a {
}
#u31.a {
  top:551px;
}
#u31_img.a {
}
#u32.a {
}
#u33.a {
}
#u35.a {
  left:10px;
  top:499px;
}
#u35_img.a {
}
#u36.a {
}
#u37.a {
  left:20px;
  top:541px;
}
#u37_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end.a {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u38.a {
  left:10px;
  top:706px;
}
#u38_img.a {
}
#u39.a {
}
