body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:219px;
  width:325px;
  height:145px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
  font-size:12px;
  line-height:24px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:170px;
  width:325px;
  height:55px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u5 {
  position:absolute;
  left:10px;
  top:13px;
  width:220px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u7 {
  position:absolute;
  left:10px;
  top:15px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:420px;
  width:325px;
  height:145px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
  font-size:12px;
  line-height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:140px;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:371px;
  width:325px;
  height:55px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u13 {
  position:absolute;
  left:10px;
  top:13px;
  width:220px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
  line-height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u15 {
  position:absolute;
  left:10px;
  top:15px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:100px;
  width:325px;
  height:55px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:50px;
}
#u18 {
  position:absolute;
  left:10px;
  top:13px;
  width:220px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:240px;
  top:0px;
  width:80px;
  height:50px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u20 {
  position:absolute;
  left:10px;
  top:19px;
  width:60px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:30px;
  top:720px;
  width:154px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  visibility:hidden;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
  color:#FFFFFF;
  text-align:left;
  line-height:24px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u24 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:66px;
  top:903px;
  width:17px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:-17px;
  top:1122px;
  width:300px;
  height:329px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:329px;
}
#u28 {
  position:absolute;
  left:10px;
  top:15px;
  width:280px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:-7px;
  top:1164px;
  width:280px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u30 {
  position:absolute;
  left:481px;
  top:1146px;
  width:300px;
  height:244px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:244px;
}
#u31 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
}
#u3.a {
}
#u8.a {
}
#u11.a {
}
#u16.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
  left:10px;
  top:599px;
}
#u27_img.a {
}
#u28.a {
}
#u29.a {
  left:20px;
  top:641px;
}
#u29_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end.a {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u30.a {
  left:10px;
  top:956px;
}
#u30_img.a {
}
#u31.a {
}
