body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:100px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:95px;
  font-size:12px;
  text-align:center;
  line-height:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:95px;
}
#u2 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:70px;
  height:70px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#C9C9C9;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u4 {
  position:absolute;
  left:10px;
  top:20px;
  width:50px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:71px;
  top:140px;
  width:29px;
  height:16px;
  font-family:'FontAwesome', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:110px;
  width:325px;
  height:195px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u9 {
  position:absolute;
  left:10px;
  top:15px;
  width:300px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:50px;
  width:320px;
  height:90px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  line-height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:90px;
}
#u11 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:140px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  line-height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u13 {
  position:absolute;
  left:10px;
  top:15px;
  width:300px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:310px;
  width:325px;
  height:105px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u16 {
  position:absolute;
  left:10px;
  top:15px;
  width:140px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:160px;
  top:0px;
  width:160px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  line-height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u18 {
  position:absolute;
  left:10px;
  top:15px;
  width:140px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  line-height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u20 {
  position:absolute;
  left:10px;
  top:15px;
  width:140px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:160px;
  top:50px;
  width:160px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  line-height:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u22 {
  position:absolute;
  left:10px;
  top:15px;
  width:140px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:440px;
  width:325px;
  height:55px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:66px;
  top:833px;
  width:17px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:660px;
  top:120px;
  width:300px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u29 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u14.a {
}
#u23.a {
}
#u26.a {
}
#u28.a {
  left:500px;
  top:92px;
}
#u28_img.a {
}
#u29.a {
}
