body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:303px;
  top:366px;
  width:300px;
  height:76px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-decoration:none;
  color:#000000;
  text-align:left;
  line-height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:76px;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:16px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:200px;
  top:604px;
  width:300px;
  height:132px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  text-decoration:none;
  text-align:left;
  line-height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:132px;
}
#u6 {
  position:absolute;
  left:10px;
  top:10px;
  width:280px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  touch-action:none;
  position:relative;
  left:-0px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#u0.a {
  left:12px;
  top:304px;
}
#u0_img.a {
}
#u1.a {
}
#u2.a {
}
#u4.a {
}
#u5.a {
  left:11px;
  top:578px;
}
#u5_img.a {
}
#u6.a {
}
